@font-face {
  font-family: "GothicA1-Regular";
  src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
  font-family: "MedievalSharp-Regular";
  src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "MedievalSharp-Regular";
  background-image: url("../img/smoke-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  width: 100wv;
}

/* NAV */

nav {
  width: 100%;
  height: 14vh;
  display: flex;
  position: fixed;
  z-index: 100;
}

.logo {
  max-height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
}

.logo img {
  max-height: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 100%;
  width: 70%;
  justify-content: flex-end;
  background-image: url("../img/cloud-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 0 10% 0 0;
  margin: 0;
  gap: 5%;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

nav a:hover {
  color: #fbcea0;
}

.nav-buy {
  background-color: #fbcea0;
  padding: 15px;
  border-radius: 7px;
  color: black;
  border: 1px solid #fbcea0;
}

.nav-buy:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid #fbcea0;
}

/* HERO */

.hero {
  position: relative;
}

.hero-vid {
  height: 100vh;
}

.hero-vid video {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-party {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fbcea0;
}

.hero-party a {
  text-decoration: none;
  color: white;
  border: 1px solid #fbcea0;
  border-radius: 7px;
  font-size: 1.5rem;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.hero-party a:hover {
  background-color: #c09e7b;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* AWARDS */

.awardsRaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  margin-bottom: 3%;
}

.awards {
  display: flex;
  align-items: center;
  border: 1px solid #fbcea0;
  border-radius: 7px;
  padding: 2% 3%;
  background-image: url(../img/awards-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.award-BG3 {
  height: 100%;
  width: 25%;
}

.award-BG3 a {
  text-decoration: none;
}

.award-BG3 div:first-child a {
  color: white;
  font-family: "GothicA1-Regular";
  font-size: 1rem;
}

.award-BG3 div:last-child a {
  color: #fbcea0;
  font-size: 2.5rem;
}

.award-img {
  width: 17.75%;
}

.award-img img {
  width: 90%;
}

/* RACES */

.races {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.races h2 {
  color: #fbcea0;
  font-size: 2rem;
}

.races-container {
  display: flex;
  width: 100%;
  gap: 3%;
}

.races-profils {
  width: 47%;
  border: 1px solid #fbcea0;
  border-radius: 7px;
  padding: 5% 5% 10% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/races-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.race-card {
  width: 33%;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10%;
  border: 1px solid transparent;
}

.race-card:hover {
  border: 1px solid #fbcea0;
}

.race-card:last-child,
.race-card:nth-last-child(2) {
  margin-bottom: 0;
}
.race-card p {
  color: white;
  margin-top: 8%;
}

.race-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.race-img img {
  width: 50%;
  object-fit: cover;
}

/* RACE-DESCRIPTION */

.race-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53%;
  border: 1px solid #fbcea0;
  border-radius: 7px;
  text-align: center;
  color: #fbcea0;
}
.race-profil-description {
  width: 15%;
  margin-top: 3%;
}

.race-profil-paragraph h3 {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 5% 0 0 0;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid #fbcea0;
  display: inline-block;
}

.race-profil-paragraph p {
  font-family: "GothicA1-Regular";
  font-weight: lighter;
  font-size: 1.2rem;
  margin: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid #fbcea0;
  display: inline-block;
}

.race-profil-description img {
  width: 100%;
}

/* EDITIONS */

.editions {
  background-image: url("../img/buy-now-background.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  display: flex;
  padding-left: 12%;
  padding-right: 13%;
}

.edition-img {
  width: 80%;
  height: auto;
  margin: auto;
}

.edition-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.edition-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editions h2 {
  color: #fbcea0;
  font-size: 2.5rem;
  margin: 0 0 4% 0;
  font-weight: 500;
}

.editions h3 {
  color: white;
  font-family: "GothicA1-Regular";
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.edition-description p {
  color: white;
  font-family: "GothicA1-Regular";
  font-size: 1rem;
}

.edition-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.edition-btn a:hover {
  background-color: #c09e7b;
}

.edition-btn a {
  text-decoration: none;
  color: white;
  border: 1px solid #fbcea0;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin-bottom: 1%;
}

.edition-paragraph {
  margin: 6% 0 0 0;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* COMMUNITY */

.community {
  padding-top: 2%;
  padding-bottom: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-title {
  display: flex;
  flex-direction: column;
}

.community-title h3 {
  color: white;
  font-family: "GothicA1-Regular";
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.community-title h2 {
  color: #fbcea0;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 1% 0;
}

.community-card {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.card {
  border: 1px solid #fbcea0;
  width: 100%;
  height: 35vh;
  border-radius: 10px;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.card:hover::after {
  transition: background 0.2s ease-in;
  background: rgba(0, 0, 0, 0.7);
}

.card-container {
  z-index: 10;
  position: absolute;
  padding: 6% 5% 10% 5%;
  padding-bottom: 10%;
  width: 100%;
}

.commu-cd1 {
  background-image: url("../img/news-1.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.commu-cd2 {
  background-image: url("../img/news-2.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.commu-cd3 {
  background-image: url("../img/news-3.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card h3 {
  color: #fbcea0;
  font-size: 1.5rem;
  word-break: break;
}

.card p {
  font-family: "GothicA1-Regular";
  color: white;
  width: auto;
}

.card a {
  text-decoration: none;
  color: #fbcea0;
}

/* GALERIE */

.gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 9%;
}

.gallery-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.gallery h3 {
  color: white;
  font-family: "GothicA1-Regular";
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.gallery h2 {
  color: #fbcea0;
  font-size: 2.5rem;
  margin: 1% 0;
  font-weight: 500;
}

.gallery-all-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8%;
}

.gal-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.gal-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.gal-img:hover::after {
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease-in;
}

.gal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* DIGI-DOWNLOADS */

.digi-downloads {
  width: 80%;
  display: flex;

  margin-bottom: 6%;
  border: 1px solid #fbcea0;
  z-index: 1;
  padding: 0;
  position: relative;
}

.digi-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
  padding: 2% 2% 2% 0;
}

.digi-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.digi-paragraph {
  padding: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.digi-downloads h3 {
  color: white;
  font-family: "GothicA1-Regular";
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.digi-downloads h2 {
  color: #fbcea0;
  font-size: 2.5rem;
  margin: 1% 0;
  font-weight: 500;
}

.digi-downloads p {
  font-family: "GothicA1-Regular";
  color: white;
  width: auto;
}

.digi-btn {
  align-self: flex-start;
  width: auto;
  text-decoration: none;
  color: white;
  border: 1px solid #fbcea0;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.digi-btn:hover {
  background-color: #c09e7b;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-services {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fbcea0;
  border-top: 1px solid #fbcea0;
}

.social {
  width: 40%;
  padding-right: 5%;
}

.socials-services h2 {
  color: #fbcea0;
}

.services-sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 2%;
}

.services-sections:last-child {
  padding-right: 0%;
}

.join h3,
.join p {
  color: white;
  font-family: "GothicA1-Regular";
}

.join h3 {
  margin-top: 0;
}

.join h3,
.join h2,
.join p {
  padding: 2%;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.services h3 {
  color: #fbcea0;
}

.services a {
  color: #fbcea0;
  font-family: "GothicA1-Regular";
  text-decoration: none;
  padding: 0 0 20px 0;
}

.services a:hover {
  text-decoration: underline;
}

.privacy {
  width: 80%;
  padding: 1% 0 3% 0;
}

.privacy a {
  color: white;
  font-family: "GothicA1-Regular";
  text-decoration: none;
  padding-right: 1%;
}

.privacy a:hover {
  text-decoration: underline;
}

/* X+x+ RESPONSIVE +x+X */

/* SUPPERIOR 1180 WIDTH */
@media screen and (min-width: 1180px) {
  /* COMMUNITY */
  .card {
    border: 1px solid #fbcea0;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    position: relative;
  }
}

/* DESKTOP */

@media screen and (max-width: 1180px) {
  /* COMMUNITY */
  .card {
    border: 1px solid #fbcea0;
    width: 100%;
    height: 34vh;
    border-radius: 10px;
    position: relative;
  }
}

/* TABLETTE */

@media screen and (max-width: 768px) {
  /* INNER */
  nav ul {
    display: none;
  }

  .inner {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
  }

  .inner div {
    border: 4px solid #fbcea0;
    border-radius: 4px;
    margin: 4px;
    width: 50px;
  }

  .inner:hover div {
    border-color: white;
  }

  /* NAV */
  .logo {
    height: 70%;
    align-self: center;
  }

  /* AWARDS */

  .awards {
    display: flex;
    flex-wrap: wrap;
  }
  .award-BG3 {
    width: 100%;
  }

  .award-img {
    width: 25%;
  }

  /* RACES */
  .races {
    padding-bottom: 10%;
  }

  .races-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .races-profils {
    width: 100%;
    padding: 29;
    margin-bottom: 8%;
  }

  .race-description {
    width: 90%;
    height: 55vh;
    justify-content: space-evenly;
  }

  .race-profil-description {
    width: 33%;
  }

  /* EDITION */
  .editions {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
  }

  .edition-description {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .edition-paragraph p {
    font-size: 1rem;
    margin: 1%;
    padding: 0;
  }

  .edition-img {
    height: 50%;
  }

  .edition-img img {
    margin: 0;
    padding: 0;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .edition-btn {
    justify-content: center;
    width: 100%;
  }

  /* COMMUNITY */
  .community-card {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 100%;
    height: 250px;
  }

  .community-title h2 {
    margin: 5% 0;
  }

  .community-title h3 {
    margin-top: 10%;
  }

  .socials-services {
    flex-direction: column;
    padding-top: 10%;
  }

  /* DIGI-DOWNLOADS */
  .digi-paragraph {
    width: 90%;
  }

  /* FOOTER */

  .social {
    width: 100%;
    align-items: center;
  }

  .services {
    width: 100%;
  }

  .services-sections {
    padding-left: 4%;
  }

  .services-sections h3 {
    font-size: 1.1rem;
  }

  .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .join h2 {
    margin: 0;
    padding: 0;
  }
}

/* MOBILE */

@media screen and (max-width: 480px) {
  /* NAV */

  .logo {
    padding-left: 20%;
  }

  /* COMMUNITY */
  .card {
    height: 30vh;
  }

  /* RACES PROFILS */

  .races {
    width: 100%;
  }

  .races-profils {
    width: 100%;
    flex-wrap: nowrap;
    height: 15vh;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    margin-bottom: 7%;
    padding: 0;
  }

  .race-card {
    height: 100%;
    margin: 0 35px;
  }

  .race-card p {
    padding: 0 10px 0 10px;
    text-align: center;
  }

  .race-img {
    width: 70px;
    height: 70px;
    padding: 0 auto;
  }

  .race-img img {
    flex: 0 0 auto;
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 8px;
    display: block;
  }

  /* GALERY */
  .gallery-all-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8%;
  }

  .gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
  }

  /* FOOTER */
  .services {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .services-sections {
    align-items: center;
    margin-bottom: 5%;
  }

  .privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 0;
  }

  .privacy a {
    margin: 3%;
  }
}
